* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-image: url(/assets/home-bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}

#logo {
    height: 60px;
    width: 150px;

}

th {
    color: aliceblue;
}

table {
    justify-content: space-around;
    color: wheat;
    /* margin-left: 285px; */
    border: 20px;
    column-gap: 20px;
    border-collapse: separate;
    border-spacing: 0px;
    
}

table :hover {
    color: aliceblue;
}
tbody {
    color: aliceblue;
}
