* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-image: url(/assets/products-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#logo {
    height: 60px;
    width: 150px;

}

.card{
  flex-direction: unset;
  background-color: beige;
  width: 1082px;
  justify-content: center;
}

#image {
  min-height: fit-content;
}


card 

 .container {
    position: absolute;
    height: 300px;
    top: 60px;
    left: calc(50% - 300px);
    display: flex;
    padding-top: 160px;
    max-width: 1040px !important;
    width: 90% !important;
   padding-left: 6000px;
  }
  
    .card {
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    background: transparent;
  } 
  
  

  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  
 button {
  float: right;
 padding: 6px;
 }

 footer {
  color: wheat;
  padding-left: 100px;
  background-color: rgb(25, 3, 3);
  height: 59px;
  padding: 20px;
}